

$list_item_height: 40px;




body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
  margin:0px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


#content{
  width:100%;
  overflow: auto;
  box-sizing: border-box;
}

#content .App{

}


ul{
  list-style: none;
  margin:0px;
  padding:0px;
}

.list-item{

  position: relative;

  width:auto;
  height: $list_item_height;
  margin:0px;
  padding: 5px 10px;
  padding:0px;
  background-color: #FAFAFC;
  border-bottom:1px solid #CCCCCC;

  background: rgb(252,252,252);
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(227,227,227,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(227,227,227,1)));
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e3e3e3',GradientType=0 );
}

.list-item:hover{
  background: rgb(239,239,239);
  background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 );
}


ul.hide-completed .list-item.completed{
  display:none;
}






.list-item-button-group{
  display:none;
  position:absolute;
  top:0px;
  right:0px;
  width: 84px;
  height: $list_item_height;

//  background-color:#ff8000;
}

.list-item-button-group.selected{
  display: block;
}


.list-item-button-group .edit-btn,
.list-item-button-group .remove-btn{
  width:40px;
  height:40px;
  float:left;
  background-size: 32px 32px;
  background-position: 5px 5px;
  background-repeat: no-repeat;

  opacity: 0.5;

  background-image: url('../images/PNG/pencil.png');
}

.list-item-button-group .remove-btn{
  background-image: url('../images/PNG/cross.png');
  background-position: 3px 5px;

}


.list-item-button-group .edit-btn:hover,
.list-item-button-group .remove-btn:hover{
  opacity: 1.0;
}





.list-item-input input{
  height: $list_item_height;
  width:auto;
}




.list-item-inner{
  padding-left:50px;
}


.list-item-inner .item-toggle{
  float:left;
  width:50px;
  margin-left: -50px;
  height: $list_item_height;
//  background-color:orange;
}


.list-item-inner .item-toggle .toggle{
  background-image: url('../images/PNG/checkbox-unchecked.png');
  background-repeat: no-repeat;
  background-position: 9px 4px;
  background-size: 32px 32px;

  width:50px;
  height:$list_item_height;

}


.list-item-inner .item-toggle .toggle.complete{
  background-image: url('../images/PNG/checkbox-checked.png');
}





.list-item-inner .item{
  height: $list_item_height;
//  background-color: #0088cc;
  vertical-align: middle;
  line-height: $list_item_height;
}


.list-item-inner .item .item-input{
  width:100%;
  height: $list_item_height;
  padding:0px;
  border:none;
}


.list-item-inner .item .item-value{
  margin:0px;
}

.list-item-inner .item .item-value.complete{
  text-decoration:line-through;
  color:#888888;
}




.add-btn{
  display:block;
  width:50%;
  height: 50px;
//  height: 50px;
  margin:10px auto;
  border: 1px solid #777777;
  border-radius: 4px;
}


.grocery-item-input{
  width:100%;
  height: $list_item_height;
  padding:0px;
  border:none;
  border-bottom:1px solid #333333;
}















.list-control-bar{
  padding: 10px 10px;
  border-bottom: 1px solid #333333;
}




h3.item-count{
  padding-left:20px;
  margin:0px;
  display:inline-block;
  background-image: url('../images/PNG/atom.png');
  background-repeat: no-repeat;
  background-size:16px 16px;
  background-position: 0px 3px;
}






.hide-completed-btn{
  border: 1px solid #777777;
  border-radius: 3px;

  margin-left: 20px;
  padding: 6px;

  outline:none;

  background: rgb(252,252,252);
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(227,227,227,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(227,227,227,1)));
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(227,227,227,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e3e3e3',GradientType=0 );

}


.hide-completed-btn:hover{
  background: rgb(239,239,239);
  background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 );
}


.hide-completed-btn.selected{
  background: rgb(224,224,224);
  box-shadow: 0px 1px 3px 0px #777777 inset;
}


